<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Abel&display=swap" rel="stylesheet">
  </head>
  <body>
    <nav>
      <a href="/" style="text-decoration:none">ALL FLIGHTS&nbsp&nbsp</a>
      <a href="/new" style="text-decoration:none">ADD A FLIGHT</a>
  
    </nav>
    <h1><%= title %></h1>
    